@import "../../index.scss";

.titleHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100px;
	width: 100%;
	font-size: 22px;
	animation: fadeIn;
	animation-timing-function: linear;
	animation-duration: 0.2s;

	@media (min-width: 992px) {
		margin-top: 50px;
		margin-bottom: 20px;
		font-size: 30px;
	}
}

.titleText {
	margin: 10px 0 0 0;
	font-weight: bold;
	color: $color-black;
	width: 75%;
	text-align: center;
	font-size: 20px;

	@media (min-width: 576px) {
		font-size: 24px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		margin-top: 3px;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	@keyframes fadeIn {
		from {
			opacity: 0;
			margin-top: 83px;
		}
		to {
			opacity: 1;
			margin-top: 80px;
		}
	}
}
