@import "../../../index.scss";

.footerNavigation {
	height: 100px;
	z-index: 5;
	width: 100dvw;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spacer {
	height: 100px;
	width: 100dvw;
}
